.heart-btn{
    position: absolute;
    top: 10px;
    right: 10px;
       width: 26px;
    height: 22px;
    border-radius: 50%;
    border: none;
    background: rgba(255,255,255,0.95);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
    z-index: 10;
}
.heart-btn svg{
    transition: all 0.2s ease;
}
.heart-btn:not(.liked) svg {
    color: #111;
}
.heart-btn.liked svg{
    color: #ff2d55;
    transform: scale(1.05);
}
